<header class="topbar">
  <div class="container topbar-inner center-logo">
    <a href="/" class="brand center">
      <img src="<%= site.logoUrl %>" alt="<%= site.siteName %>" />
    </a>
  </div>
</header>
